.navbar{
    background-color: #008080;
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

#submitButton{
    background-color: #008080;
    border: none;
    color: white;
}