*:focus {
    outline-color: #006868;
}

::selection{
    background-color: #006868;
    color: white;
}

strong{
    color: #006868;
}

.navbar{
    background-color: #008080;
}

.navbar-brand{
    color: white !important;
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 4px;
}

#submitButton{
    background-color: #008080;
    border: none;
    color: white;
}

.mainContent{
    text-align: center;
}

.title{
    font-size: 68px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #008080;
}

main{
    margin: 20px;
}

.imgQR{
    width: 400px;
}

footer{
    background-color: #008080;
    color: white;
    text-align: center;
    padding: 20px;
}

.footerLink{
    color: white;
    text-decoration: none;
}

.footerLink:hover{
    color: white;
}

.siteLogo{
    width: 140px;
}

.colText{
    text-align: left !important;
    font-size: 20px;
}

.colImg{
    text-align: right !important;
}

#generate-form{
    text-align: center;
}

.qrImg{
    margin: 40px auto 40px auto;
}

#spinner{
    display: none;
}

#submitButton{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 0px 20px 0px 20px;
    border: 2px solid #008080;
    border-radius: 100vw;
    width: 400px;
    height: 50px;
    transition: .15s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

#submitButton:hover{
    background-color: #006868;
}

#url{
    margin: 40px 0px 20px 0px;
    padding: 0px 20px 0px 20px;
    border: 2px solid #008080;
    border-radius: 100vw;
    width: 400px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

#size{
    margin-bottom: 20px;
    padding: 0px 20px 0px 20px;
    border: 2px solid #008080;
    border-radius: 100vw;
    width: 400px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    cursor: pointer;
}

#save-link{
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px 20px 10px 20px;
    border: 2px solid #008080;
    border-radius: 100vw;
    width: 400px;
    height: 50px;
    text-decoration: none;
    color: #008080;
    transition: .15s;
}

#save-link:hover{
    background-color: #008080;
    color: white;
}

@media only screen and (max-width: 991px) {
    .colImg{
      text-align: center !important;
    }

    .colText{
        font-size: 16px !important;
      }

    .imgQR{
        width: 310px;
    }

    .title{
        font-size: 50px;
    }

    .siteLogo{
        width: 84px;
    }

    footer{
        font-size: 10px;
    }
}

@media only screen and (max-width: 455px) {
    #url{
        width: 86vw;
    }
    #size{
        width: 86vw;
    }
    #submitButton{
        width: 86vw;
    }

    .imgQR{
        width: 64vw;
    }

    .navbar-brand{
        font-size: 20px;
    }

    .title{
        font-size: 34px;
    }
}