@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*{
    font-family: 'Overpass', sans-serif !important;
}

.navbar{
    background-color: #008080;
}

.navbar-brand{
    color: white !important;
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 6px;
}

#submitButton{
    background-color: #008080;
    border: none;
    color: white;
}

.mainContent{
    text-align: center;
}

.title{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
}

main{
    margin: 20px;
}

.imgQR{
    width: 400px;
}

footer{
    background-color: #008080;
    color: white;
    text-align: center;
    padding: 20px;
}

.footerLink{
    color: white;
    text-decoration: none;
}

.footerLink:hover{
    color: white;
}

.siteLogo{
    width: 140px;
}

.colText{
    text-align: left !important;
}

.colImg{
    text-align: right !important;
}

#generate-form{
    text-align: center;
}

.qrImg{
    margin: auto;
}